body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 86.5127582017%;
  left: 62.5610948192%;
  font-size: 23px;
  filter: blur(0.02px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(2) {
  top: 21.5950920245%;
  left: 5.9113300493%;
  font-size: 15px;
  filter: blur(0.04px);
  animation: 27s float infinite;
}
.particle:nth-child(3) {
  top: 29.8795180723%;
  left: 11.6504854369%;
  font-size: 30px;
  filter: blur(0.06px);
  animation: 24s floatReverse2 infinite;
}
.particle:nth-child(4) {
  top: 97.4421437272%;
  left: 58.7659157689%;
  font-size: 21px;
  filter: blur(0.08px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(5) {
  top: 52.2370012092%;
  left: 56.4751703992%;
  font-size: 27px;
  filter: blur(0.1px);
  animation: 28s float2 infinite;
}
.particle:nth-child(6) {
  top: 32.810615199%;
  left: 68.0272108844%;
  font-size: 29px;
  filter: blur(0.12px);
  animation: 26s float2 infinite;
}
.particle:nth-child(7) {
  top: 0.9661835749%;
  left: 29.1828793774%;
  font-size: 28px;
  filter: blur(0.14px);
  animation: 38s float2 infinite;
}
.particle:nth-child(8) {
  top: 75.0304506699%;
  left: 66.6013712047%;
  font-size: 21px;
  filter: blur(0.16px);
  animation: 27s float infinite;
}
.particle:nth-child(9) {
  top: 8.8127294982%;
  left: 46.2143559489%;
  font-size: 17px;
  filter: blur(0.18px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(10) {
  top: 47.0588235294%;
  left: 32.4803149606%;
  font-size: 16px;
  filter: blur(0.2px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(11) {
  top: 18.6274509804%;
  left: 98.4251968504%;
  font-size: 16px;
  filter: blur(0.22px);
  animation: 22s float2 infinite;
}
.particle:nth-child(12) {
  top: 64.8910411622%;
  left: 34.1130604288%;
  font-size: 26px;
  filter: blur(0.24px);
  animation: 36s float2 infinite;
}
.particle:nth-child(13) {
  top: 9.696969697%;
  left: 80.9756097561%;
  font-size: 25px;
  filter: blur(0.26px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(14) {
  top: 62.0606060606%;
  left: 45.8536585366%;
  font-size: 25px;
  filter: blur(0.28px);
  animation: 28s float2 infinite;
}
.particle:nth-child(15) {
  top: 18.4242424242%;
  left: 77.0731707317%;
  font-size: 25px;
  filter: blur(0.3px);
  animation: 23s float infinite;
}
.particle:nth-child(16) {
  top: 13.7931034483%;
  left: 28.6561264822%;
  font-size: 12px;
  filter: blur(0.32px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(17) {
  top: 46.3625154131%;
  left: 36.5974282888%;
  font-size: 11px;
  filter: blur(0.34px);
  animation: 36s float2 infinite;
}
.particle:nth-child(18) {
  top: 62.2871046229%;
  left: 95.8904109589%;
  font-size: 22px;
  filter: blur(0.36px);
  animation: 33s float2 infinite;
}
.particle:nth-child(19) {
  top: 16.52490887%;
  left: 67.4486803519%;
  font-size: 23px;
  filter: blur(0.38px);
  animation: 24s float2 infinite;
}
.particle:nth-child(20) {
  top: 74.6666666667%;
  left: 96.5853658537%;
  font-size: 25px;
  filter: blur(0.4px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(21) {
  top: 37.2093023256%;
  left: 90.4621435595%;
  font-size: 17px;
  filter: blur(0.42px);
  animation: 36s float2 infinite;
}
.particle:nth-child(22) {
  top: 42.2085889571%;
  left: 28.5714285714%;
  font-size: 15px;
  filter: blur(0.44px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(23) {
  top: 34.3558282209%;
  left: 19.7044334975%;
  font-size: 15px;
  filter: blur(0.46px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(24) {
  top: 81.5724815725%;
  left: 77.909270217%;
  font-size: 14px;
  filter: blur(0.48px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(25) {
  top: 24.6609124538%;
  left: 32.6409495549%;
  font-size: 11px;
  filter: blur(0.5px);
  animation: 39s float2 infinite;
}
.particle:nth-child(26) {
  top: 5.8252427184%;
  left: 64.453125%;
  font-size: 24px;
  filter: blur(0.52px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 35.6626506024%;
  left: 4.854368932%;
  font-size: 30px;
  filter: blur(0.54px);
  animation: 40s float2 infinite;
}
.particle:nth-child(28) {
  top: 45.4655380895%;
  left: 20.4479065239%;
  font-size: 27px;
  filter: blur(0.56px);
  animation: 21s float infinite;
}
.particle:nth-child(29) {
  top: 6.7632850242%;
  left: 43.7743190661%;
  font-size: 28px;
  filter: blur(0.58px);
  animation: 35s floatReverse infinite;
}
.particle:nth-child(30) {
  top: 62.2114216282%;
  left: 59.6285434995%;
  font-size: 23px;
  filter: blur(0.6px);
  animation: 35s float infinite;
}
.particle:nth-child(31) {
  top: 44.9877750611%;
  left: 58.9390962672%;
  font-size: 18px;
  filter: blur(0.62px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(32) {
  top: 77.3561811506%;
  left: 48.1809242871%;
  font-size: 17px;
  filter: blur(0.64px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(33) {
  top: 83.2313341493%;
  left: 49.1642084562%;
  font-size: 17px;
  filter: blur(0.66px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(34) {
  top: 15.6670746634%;
  left: 35.3982300885%;
  font-size: 17px;
  filter: blur(0.68px);
  animation: 40s floatReverse2 infinite;
}
.particle:nth-child(35) {
  top: 37.8640776699%;
  left: 25.390625%;
  font-size: 24px;
  filter: blur(0.7px);
  animation: 29s floatReverse2 infinite;
}
.particle:nth-child(36) {
  top: 6.8459657702%;
  left: 52.0628683694%;
  font-size: 18px;
  filter: blur(0.72px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 95.0980392157%;
  left: 51.1811023622%;
  font-size: 16px;
  filter: blur(0.74px);
  animation: 28s float infinite;
}
.particle:nth-child(38) {
  top: 36.8932038835%;
  left: 96.6796875%;
  font-size: 24px;
  filter: blur(0.76px);
  animation: 39s float2 infinite;
}
.particle:nth-child(39) {
  top: 31.1435523114%;
  left: 82.1917808219%;
  font-size: 22px;
  filter: blur(0.78px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(40) {
  top: 27.5184275184%;
  left: 97.6331360947%;
  font-size: 14px;
  filter: blur(0.8px);
  animation: 21s float infinite;
}
.particle:nth-child(41) {
  top: 97.4169741697%;
  left: 27.6406712734%;
  font-size: 13px;
  filter: blur(0.82px);
  animation: 26s float infinite;
}
.particle:nth-child(42) {
  top: 16.4449818622%;
  left: 82.7653359299%;
  font-size: 27px;
  filter: blur(0.84px);
  animation: 26s floatReverse2 infinite;
}
.particle:nth-child(43) {
  top: 43.0844553244%;
  left: 37.3647984267%;
  font-size: 17px;
  filter: blur(0.86px);
  animation: 21s float infinite;
}
.particle:nth-child(44) {
  top: 48.8997555012%;
  left: 1.9646365422%;
  font-size: 18px;
  filter: blur(0.88px);
  animation: 23s float2 infinite;
}
.particle:nth-child(45) {
  top: 76.5644171779%;
  left: 27.5862068966%;
  font-size: 15px;
  filter: blur(0.9px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(46) {
  top: 21.568627451%;
  left: 23.6220472441%;
  font-size: 16px;
  filter: blur(0.92px);
  animation: 33s floatReverse2 infinite;
}
.particle:nth-child(47) {
  top: 12.6984126984%;
  left: 59.8626104024%;
  font-size: 19px;
  filter: blur(0.94px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(48) {
  top: 93.0909090909%;
  left: 57.5609756098%;
  font-size: 25px;
  filter: blur(0.96px);
  animation: 32s float infinite;
}
.particle:nth-child(49) {
  top: 80%;
  left: 74.5098039216%;
  font-size: 20px;
  filter: blur(0.98px);
  animation: 32s float infinite;
}
.particle:nth-child(50) {
  top: 25.4278728606%;
  left: 46.1689587426%;
  font-size: 18px;
  filter: blur(1px);
  animation: 33s float infinite;
}
.particle:nth-child(51) {
  top: 33.8983050847%;
  left: 1.9493177388%;
  font-size: 26px;
  filter: blur(1.02px);
  animation: 33s float infinite;
}
.particle:nth-child(52) {
  top: 73.786407767%;
  left: 24.4140625%;
  font-size: 24px;
  filter: blur(1.04px);
  animation: 35s float infinite;
}
.particle:nth-child(53) {
  top: 68.6274509804%;
  left: 14.7637795276%;
  font-size: 16px;
  filter: blur(1.06px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(54) {
  top: 23.3292831106%;
  left: 14.6627565982%;
  font-size: 23px;
  filter: blur(1.08px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(55) {
  top: 63.1319358816%;
  left: 85.0642927794%;
  font-size: 11px;
  filter: blur(1.1px);
  animation: 35s float2 infinite;
}
.particle:nth-child(56) {
  top: 86.9565217391%;
  left: 92.4124513619%;
  font-size: 28px;
  filter: blur(1.12px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(57) {
  top: 57.1428571429%;
  left: 31.1890838207%;
  font-size: 26px;
  filter: blur(1.14px);
  animation: 34s float2 infinite;
}
.particle:nth-child(58) {
  top: 73.5187424426%;
  left: 74.9756572541%;
  font-size: 27px;
  filter: blur(1.16px);
  animation: 21s float infinite;
}
.particle:nth-child(59) {
  top: 32.3133414933%;
  left: 76.6961651917%;
  font-size: 17px;
  filter: blur(1.18px);
  animation: 24s float2 infinite;
}
.particle:nth-child(60) {
  top: 11.6222760291%;
  left: 79.9220272904%;
  font-size: 26px;
  filter: blur(1.2px);
  animation: 30s float2 infinite;
}
.particle:nth-child(61) {
  top: 68.7651331719%;
  left: 63.3528265107%;
  font-size: 26px;
  filter: blur(1.22px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(62) {
  top: 28.2926829268%;
  left: 93.137254902%;
  font-size: 20px;
  filter: blur(1.24px);
  animation: 30s float2 infinite;
}
.particle:nth-child(63) {
  top: 41.4303329223%;
  left: 56.3798219585%;
  font-size: 11px;
  filter: blur(1.26px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(64) {
  top: 40.4438964242%;
  left: 67.2601384768%;
  font-size: 11px;
  filter: blur(1.28px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(65) {
  top: 25.3968253968%;
  left: 35.3287536801%;
  font-size: 19px;
  filter: blur(1.3px);
  animation: 21s float2 infinite;
}
.particle:nth-child(66) {
  top: 36.0975609756%;
  left: 42.1568627451%;
  font-size: 20px;
  filter: blur(1.32px);
  animation: 40s float infinite;
}
.particle:nth-child(67) {
  top: 52.2167487685%;
  left: 42.4901185771%;
  font-size: 12px;
  filter: blur(1.34px);
  animation: 32s float infinite;
}
.particle:nth-child(68) {
  top: 85.3333333333%;
  left: 77.0731707317%;
  font-size: 25px;
  filter: blur(1.36px);
  animation: 22s floatReverse infinite;
}
.particle:nth-child(69) {
  top: 53.2043530834%;
  left: 13.6319376826%;
  font-size: 27px;
  filter: blur(1.38px);
  animation: 39s float infinite;
}
.particle:nth-child(70) {
  top: 45.2088452088%;
  left: 58.1854043393%;
  font-size: 14px;
  filter: blur(1.4px);
  animation: 25s float infinite;
}
.particle:nth-child(71) {
  top: 94.6859903382%;
  left: 13.6186770428%;
  font-size: 28px;
  filter: blur(1.42px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(72) {
  top: 56.2424242424%;
  left: 96.5853658537%;
  font-size: 25px;
  filter: blur(1.44px);
  animation: 26s float infinite;
}
.particle:nth-child(73) {
  top: 41.696969697%;
  left: 59.512195122%;
  font-size: 25px;
  filter: blur(1.46px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(74) {
  top: 44.0636474908%;
  left: 18.6823992134%;
  font-size: 17px;
  filter: blur(1.48px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(75) {
  top: 17.6039119804%;
  left: 3.9292730845%;
  font-size: 18px;
  filter: blur(1.5px);
  animation: 34s float infinite;
}
.particle:nth-child(76) {
  top: 43.425814234%;
  left: 73.8581146744%;
  font-size: 29px;
  filter: blur(1.52px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(77) {
  top: 60.1212121212%;
  left: 83.9024390244%;
  font-size: 25px;
  filter: blur(1.54px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(78) {
  top: 70.8737864078%;
  left: 0.9765625%;
  font-size: 24px;
  filter: blur(1.56px);
  animation: 26s floatReverse infinite;
}
.particle:nth-child(79) {
  top: 54.1717049577%;
  left: 5.8422590068%;
  font-size: 27px;
  filter: blur(1.58px);
  animation: 28s floatReverse infinite;
}
.particle:nth-child(80) {
  top: 56.2268803946%;
  left: 57.3689416419%;
  font-size: 11px;
  filter: blur(1.6px);
  animation: 39s float infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}